@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&display=swap');

.singInForm{
    font-family: 'Montserrat', Helvetica, sans-serif;
}
.fieldSignInForm{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.labelField{
    width: 180px;
    padding-right: 10px;
    padding-top: 12px;
    text-align: right;
}
.valueField input{
    width: 350px;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #06B2BB;
    background-color: transparent;
    padding-left: 5px;
    margin-left: 15px;
}
.line{
    width: 85%;
    margin: 25px auto;
    border-bottom: 1px solid rgba(168, 167, 167, 0.66);
}
.signUpLink{
    margin: 15px 0;
}
.signUpLink h5{
    color: darkgray;
    font-size: 18px;
    font-weight: 500;
}
a{
    text-decoration: none;
    font-weight: 500;
}